.totale {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: separate;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}
.tolale td {

}

.customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: separate;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.quantiacarrello {
  width: 100%;
}
.imgCarrello{
  height: 5%;
  padding: initial;
}
.customers td, .customers th {

  padding: 6px;
}
.customers td {
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}

.customers tr{
  background-color : rgba(245, 242, 255, 0.15);

}

.customers tr:hover {background-color: #eeeeee;}

.customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgba(156, 231, 237, 0.38);
  color: #000000;
}

