<div class="offerte" style="position: relative;" *ngIf="listProdotti != []">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" *ngFor="let prodotto of listProdotti ; let i = index" data-slide-to="i" ngClass="i == 0 ? 'active' : ''"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div *ngFor="let prodotto of listProdotti ; let k = index" [ngClass]="k == 0 ? 'item active' : 'item'">
        <img src={{prodotto.imgOfferta}} alt="Event Image">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>


<br>
<div class="filtro" align="right" style="margin-right: 24px">
  Filtra per categoria
  <select class="a-spacing-top-mini" style="vertical-align: baseline;" name="sort" id="sort"
          onchange="" aria-labelledby="sort_by_text">
    <option value="TUTTO">Tutto</option>
    <option value="PROD_CASA">Casa</option>
    <option value="ANIMALI">Animali</option>
    <option value="ALIMENTI">Alimenti</option>
    <option value="PROD_PERSONA">Persona</option>
  </select>
</div>
<br>
<div>
  <div class="row">
    <div class="col-sm-4 col-md-3" *ngFor="let prodotto of listProdotti" (click)="selectProdotto(prodotto)"
         data-toggle="modal" data-target="#myModel">
      <div class="thumbnail">
        <img src="{{prodotto.img}}">
        <div class="caption">
          <h3>{{prodotto.nome}}</h3>

          <p ><button mat-fab class="mat-raised-button" (click)="aggiungi(prodotto)">Aggiungi</button>

            <span  class="prezzo">Prezzo: &euro; {{prodotto.prezzoUnitario}}</span>
            <select  name="quantitaDaAcquistare" autocomplete="off" id="quantitaDaAcquistare" tabindex="-1" class="a-native-dropdown" [(ngModel)]="prodotto.quantitaDaAcquistare">
              <option value="1" selected>1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
            </select>

          </p>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modale-title"> {{prodotto.nome}}&nbsp; Prodotto da:&nbsp;{{prodotto.marca}}</h4>
      </div>
      <div class="modal-body">


      </div>
      <div class="modal-footer">
        <img type="button" src="../../assets/addcarrello.ico"
             data-toggle="tooltip">
        <span class="glyphicon glyphicon-trash"></span>

        <button type="button" class="btn btn-default close" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--
<mat-card>

  <mat-card-content >
    <mat-grid-list cols="4" rowHeight="300px" class="prova">
      <mat-grid-tile *ngFor="let prodotto of listProdotti" (click)="seletProdotto(prodotto)" class="marg">
       <mat-card-header><h3 mat-line>{{prodotto.nome}}</h3>
         </mat-card-header>
        <mat-card-content><img [alt]="prodotto.marca" src="{{prodotto.img}}"></mat-card-content>
        <mat-grid-tile-footer><span mat-line>{{prodotto.marca}}</span>
          <span>Prezzo: &euro; &nbsp;{{prodotto.prezzoUnitario}} &nbsp;al&nbsp; {{prodotto.unita}}</span>
        <br><button mat-fab class="mat-raised-button" (click)="acquisti()">Acquista
          </button>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>






<!--<mat-grid-list cols="5" rowHeight="1:1" gutterSize="4" >

    <div class="media-body">


      <mat-grid-tile-header>
        <p class="media-heading"></p>
      </mat-grid-tile-header>

    </div>

</mat-grid-list>
<mat-grid-list cols="4" rowHeight="basicRowHeight">
<div class="demo-grid-list"> <mat-grid-tile *ngFor="let prodotto of listProdotti" (click)="seletProdotto(prodotto)">
  <mat-card> <mat-card-content class="demo-basic-list">
    <mat-card-title>{{prodotto.nome}}</mat-card-title>


         <div class="di">
          <img class="img" src="{{prodotto.img}}"></div>
          <mat-grid-tile-footer>
            <p>
              <span>Prezzo: &euro; &nbsp;{{prodotto.prezzoUnitario}} &nbsp;al&nbsp; {{prodotto.unita}}</span>
            </p>

          </mat-grid-tile-footer>


    </mat-card-content></mat-card>
</mat-grid-tile>

</div>

</mat-grid-list>

-->
