<mat-grid-list cols="4" rowHeight="1:1" gutterSize="50">
  <mat-grid-tile *ngFor="let prodotto of listProdotti"
                 (click)="selectProdotto(prodotto)">
    
    <div class="media-body">
      <img class="preview" src="{{prodotto.img}}">

      <mat-grid-tile-header>
        <p class="media-heading">{{prodotto.nome}}</p>
      </mat-grid-tile-header>

      <mat-grid-tile-footer>
        <p>
          <span>Prezzo: &euro; &nbsp;{{prodotto.prezzoUnitario}} &nbsp;al&nbsp; {{prodotto.unita}}</span>
        </p>
      </mat-grid-tile-footer>
    </div>
  </mat-grid-tile>
</mat-grid-list>

