
.mat-grid-tile .mat-grid-tile-footer, .mat-grid-tile .mat-grid-tile-header{
  background: rgb(253, 255, 255) !important;
  color: #0000ff;
  height: auto;
}
.mat-grid-list{

}


.marg{
  border:3px solid #0028fa;
}



.example-card {
  width: 400px;
}
.preview:hover{
  width: 100%;
  height: auto;
  opacity: 1;
}
img {
  height: 200px;
  max-width: 70%;
}


.mat-card {
  margin: 16px 0;

}
.prova{
  margin-left: 9px;
  margin-top: 5px;
}

.demo-basic-list .mat-grid-tile {
  background: rgba(0, 0, 0, 0.32);
}
h3{
  width: 90%;
  height: 63px;
  font-size: 18px
}
.row {
  margin-right: 0px;
  margin-left: 0px;
}

.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 12px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #b0b0b0;
  border-radius: 36px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
}
.thumbnail > img,
.thumbnail a > img {
  margin-right: auto;
  margin-left: auto;
}
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: #337ab7;
}
.thumbnail .caption {
  padding: 1%;
  color: #333;
}

.prezzo {
  margin-left: 2%;
}
.a-native-dropdown{
  margin-left: 2%;
}
.filtro{
  margin-bottom: 10px;
  margin-left: 14px;
}
