<div class="storicoVuoto" align="center" *ngIf="listaStorico.length==0">
  <p>La tua lista degli ordini è vuota! Torna ai Prodotti per effettuare un acquisto!</p>
  <button type="button" class="btn btn-info" routerLink="/list-product">Torna ai Prodotti</button>
</div>
<div align="center" class="ordini" *ngIf="listaStorico.length!=0">
  <h2>I tuoi ordini</h2>
  <div class="lista">
    <mat-accordion *ngFor="let acquisto of listaStorico">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Codice Transazione :
          </mat-panel-title>
          <mat-panel-description>
            {{acquisto.idFattura}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngFor="let prodotto of listaProdotti">
        <img src="{{prodotto.img}}" height="15%" width="15%">
        <p>{{prodotto.nome}}</p>
        <p>{{prodotto.marca}}</p>
        <p>Data di acquisto: {{acquisto.data}}</p>
        <p>Quantità acquistata: {{prodotto.quantitaDaAcquistare}}</p>
        <p>Categoria: {{prodotto.categoria}}</p>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

